.footer {
  width: 100%;
  height: 351px;
  background: url("../../images/chicken.png") center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.ingredient {
  margin: 0;
  text-transform: uppercase;
  font-family: "Amatic SC";
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 2px;
}

.egg {
  margin: 0;
  text-transform: uppercase;
  font-family: "Amatic SC";
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 46px;
  letter-spacing: 2px;
}

.about {
  font-family: Montserrat, sans-serif;
  width: 100%;
  max-width: 817px;
  min-width: 400px;
  font-weight: 400;
  padding-top: 50px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.vector3 {
  width: 237px;
  height: 177px;
  position: absolute;
  left: 30px;
}